<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div id="assignment">
        <input type="text" placeholder="enter your todo" @keyup.enter="addTodo()" v-model="inputValue" />
        <hr>
    </div>
    <div>
        <p v-for="todo in todos">{{ todo }}
            <button v-on:click="removeTodo(index)">X</button>
        </p>
    </div>
    <hr>
    <div v-if="todos.length > 0">
        Total : {{ todos.length }} todo
        <button @click="clearAll()">Clear All</button>
    </div>
</body>
</html>